/* клиенты */

.clients {
   

    
    @media(min-width:480px){
        min-width: 450px;
        min-height: 393px;
        margin-right: auto;
        margin-left: auto;
    }
    @media(min-width:768px){
       min-width: 768px;

       min-height: 273px;
        
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 30px;
       
    }

    @media(min-width:1200px){
       min-height: 182px;
       min-width: 1170px;
        margin-left: 0;
        margin-bottom: 0;
        padding-top: 94px;
        padding-bottom: 94px;
        
        display: flex;
        flex-flow: row;
         
    }


}


.companys-container {
    @media(min-width:1200px){

    
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    min-width: 1200px;
   min-height: 182px;
    padding-bottom: 94px;
    padding-top: 94px;
    padding-right: 215px;
    padding-left: 215px;
}

//     /* outline: 2px solid tomato; */
}

.clients-title {
    padding-bottom: 50px;
    margin: 0;

    @extend %clients-title;

}



.logo-clients-one {
    fill: #AFB1B8;
    width: 44.27px;
    height: 49.23px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 63px;
    margin-right: 63px;

}

.logo-clients-two {
    fill: #AFB1B8;
    width: 40px;
    height: 50px;

    margin-top: 19px;
    margin-bottom: 19px;
    margin-left: 65px;
    margin-right: 65px;
}

.logo-clients-three {
    fill: #AFB1B8;
    width: 41px;
    height: 42.6px;

    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 65px;
    margin-right: 65px;

}

.logo-clients-four {
    fill: #AFB1B8;
    width: 79px;
    height: 42px;

    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 44px;
    margin-right: 44px;

}

.logo-clients-five {
    fill: #AFB1B8;
    width: 59px;
    height: 47px;

    margin-top: 22px;
    margin-bottom: 21px;
    margin-left: 56px;
    margin-right: 55px;

}

.logo-clients-six {
    fill: #AFB1B8;
    width: 88px;
    height: 45px;

    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 41px;
    margin-right: 40px;

}

.logo-clients:nth-last-child(6n+1) {
    margin-right: 0;
}



.clients-link {
    display: flex;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    @media(min-width:480px){
        width: 210;
        height: 90px;
        margin-right: 30px;
    }
    @media(min-width:768px){
        width: 226px;
        height: 90px;
    }

    @media(min-width:1200px){
        width: 170px;
        height: 90px;
        margin: 0;
    }
    
    
}




.list-element:hover .logo {
    fill: #2196F3;
    transition: all $time, $animate;
}

.list-element:hover .clients-link {
    border-color: #2196F3;
    transition: all $time, $animate;
}

.list-element {
    @media(min-width: 480px){
        width: 210px;
         margin-bottom: 30px;
    }   
    @media(min-width:768px){
        width: 226px;
        height: 90px;
        margin-bottom: 30px;  
    }
    @media(min-width:1200px){
        width: 270px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 0;
    }
     
}

.list-element:nth-child(2){
    @media(min-width:768px){
        margin-left: 15px;
        margin-right: 15px;
    }
    @media(min-width:1200px){
        margin-left: 15px;
        margin-right: 15px;
        
    }
} 
.list-element:nth-child(5) {
    @media(min-width:768px) {
        margin-left: 15px;
        margin-right: 15px;
    }
    @media(min-width:1200px){
        margin-left: 15px;
        margin-right: 15px;
    }
}



.list-element:nth-last-child(6n+1) {
    @media(min-width:1200px){
        margin-right: 0; 
    }
  
}

.list-element:nth-child(1){
   @media(min-width:1200px) {
       margin-left: 0;
   }
}

.clients-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    
    @media(min-width:1200px){
        display: flex;
        justify-content: space-between;
        padding-bottom:0;
        flex-wrap: nowrap;
    }
}

.clietns-title-clients  {
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0;

    @extend %clients-title;
}
