

.footer-section {
    background-color: #2f303a;
    @media(min-width: 480px){
       min-height: 663px;
       
        padding-bottom: 60px;
        
    }
    @media(min-width:768px){
        
       min-height: 463px;
     
    }
    @media(min-width:1200px){
       min-height: 252px;
       min-width: 1600px;
       
       padding-bottom: 0;
        display: flex;
       
        
    }
    padding-top: 0;
    padding-bottom: 0;
}

.footer {

     @media(min-width: 480px) {
        min-width: 480px;
         display: block;
         flex-direction: column;

         align-items: center;
     }
     @media(min-width: 768px){
       min-width: 768px;
        min-height: 463px;
         display: flex;
         flex-direction: row;
         align-items: end;
         flex-wrap: wrap;
        
     }

     @media(min-width:1200px){
         min-width: 1230px;
         min-height: 252px;
         display: flex;
         justify-content: space-between;
         align-items: baseline;
         
     }
    margin-bottom: 0;
    //margin-right: auto;
   // margin-left: auto;
    
}


.footer-portfolio {
    padding-top: 60px;

    @media(min-width: 480px) {
        min-width: 480px;
    }

    @media(min-width: 768px) {
        min-width: 768px;
        min-height: 463px;
    }

    @media(min-width:1200px){
        padding-top: 60px;
        min-width: 1230px;
        
    }
    margin-bottom: 0;
   // margin-right: auto;
   // margin-left: auto;
    display: flex;
}





.container-no-padding {
     @media(min-width: 480px) {
         min-width: 480px;
     }
      @media(min-width: 768px) {
         min-width: 768px;
         min-height: 463px;
      }
      @media(min-width:1200px){
       min-width: 1200px;
        min-height: 252px;
          
      }
    padding-right: 15px;
    padding-left: 15px;
   // margin-left: auto;
   // margin-right: auto;





}
.adress{
    padding-top: 60px;
    padding-bottom: 52px;

}

.address{
    @media(min-width:768px){
        display: block;
        
    }
    @media(min-width:1200px){
        
        display: inline-flex;
       
    }
    
}

.webstudio-link {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;

}

.address-span {
    display: block;
    
    color: $primary-white-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    @media(min-width:1200px){
        display: inline-block;
        
        margin-left: 0;
    }
   

    
}


.address-mail {
    color: $address-mail;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}


.address-contacts-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-bottom: 9px;
    display: block;
    @media(min-width:480px){
        padding-left: 170px;
        
    }
    @media(max-width: 1199px){
        padding-left: 120px;
    }

    @media(min-width:1200px) {
        padding-left: 0;
        margin-bottom: 9px;
    }



}

.address-contacts-phone {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    display: block;
    @media(min-width:480px){
        padding-left: 170px;
    }
    @media(max-width:1199px){
        padding-left: 120px;
    }
    @media(min-width:1200px){
        padding-left: 0;
    }

}
.footer-webstudio-link{
    @media(min-width:480px){
        padding-left: 163px;
        padding-right: 163px;
        
    }
    @media(max-width:1199px){
        padding-left: 115px;

    }
    @media(min-width:1200px){
        padding-left:0;
        padding-right: 0;
    }
    
    
 
}
.address-span p{
    @media(min-width:480px){
         padding-left: 124px;
         padding-right: 124px;
         padding-top: 20px;
    }
    @media(min-width:768px){
        padding-left: 76px;
        padding-bottom: 9px;
    }
    @media(min-width:1200px){
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 20px;
        margin-bottom: 9px;

    }
}


/* join */
.join {
    
    @media(min-width:480px){
    display: block;
    }
    
    @media(min-width:768px){
        display: block;
       width: 206px;
       height: 80px;
       align-self: center;
       margin-bottom: 60px;
       

      // margin-left: 200px;
      // margin-right: 89px;
      // margin-bottom: 318px;

  
    }
    @media(min-width:1200px){
      margin-left: auto;
      margin-right: auto;
    }
}


.social-networks {
    @media (min-width:480px) {
        display: flex;
        justify-content: center;
        max-width: 100%;

    }
   @media(min-width:768px){
       display: flex;
       justify-content: center;
       max-width: 100%;
      
       
   }
    
   @media(min-width:1200px){
        display: flex;
        justify-content: center;
        max-width: 100%;
        margin-top: 20px;
   }
    margin-top: 20px;
}

.footer-joinup-title {
    color: white;
    margin-top: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media(min-width:480px){
        padding-left: 170px;
        padding-top: 60px;
    }
   @media(min-width:768px){
       padding: 0;
       padding-left: 20px;

   }
   @media(min-width:1200px){
       padding-left:0;
       padding-top: 0;
       margin-left: 10px;
   }

}



.social-networks-item:not(:last-child) {
    margin-bottom: 10px;
}



.social-networks-item {
    margin-bottom: 0;
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    padding-bottom: 0;
}

.footer-networks-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;


}

.footer-networks-link:hover,
.footer-networks-link:focus {
    background-color: #2196F3;
    transition: all $time, $animate;
}



.footer-networks-icons {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

