/* чем мы занимаемся */
.what-are-we{
    @media (max-width: 1200px){
        display: none;
    }
    
}

.secondary-title {
    color: $title-text-color;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;


    margin-top: 94px;
    margin-bottom: 50px;


}

.pictures {
    display: flex;
}

.pictures-item {
    width: calc((100%-60)/3);
    margin-right: 30px;
}