/* чем мы занимаемся */
.what-are-we{
    @media (max-width: 1199px){
        display: none;
    }
    @media(min-width:1200px){
        width: 1170px;
        height: 386px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 200px;
    }
}

.secondary-title {
    color: $title-text-color;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;


    margin-top: 94px;
    margin-bottom: 50px;
    @media(min-width:1200px){
        margin-left: 170px;
    }


}

.pictures {
    display: flex;
}

.pictures-item {
    
    margin-right: 30px;
}