.hero {

    
    
    background-color: $hero-bcg-color;
   
     @media(min-width: 480px) {
        min-width: 480px;
        min-height: 400px;
     }

     @media(min-width: 768px) {
        min-width: 768px;
        min-height: 400px;
     }

     @media(min-width: 1200px) {
        min-width: 1600px;
       min-height: 600px;
         padding-bottom: 94px;
     }
    margin-right: auto;
    margin-left: auto;




    /* padding-bottom: 91px;
  padding-top:91px; */

    text-align: center;
    

       
}

.overlay {
    height: 600px;
     @media(min-width: 480px) {
         width: 480px;
     }

     @media(min-width: 768px) {
         width: 768px;
     }

     @media(min-width: 1200px) {
         width: 1600px;
     }
    margin-left: auto;
    margin-right: auto;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image:
       linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
       url(../img/background/Img-23.jpg);

}

.hero-title {
    color: $primary-white-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
     font-size: 26px;
     line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* горизонтальная геометрия */
    margin: 0;
    /*  телефон */
     @media(min-width: 480px) {
         padding-top: 118px;
         padding-left: 60px;
         padding-right: 60px;
         padding-bottom: 30px;
         
     }
        /* таблетка*/ 
     @media(min-width: 768px) {
         padding-top: 118px;
         padding-left: 204px;
         padding-right: 204px;
         padding-bottom: 30px;
         font-size: 26px;
         line-height: 42px;
     }
  

     @media(min-width: 1200px) {
         display: flex;
         padding-left: 600px;
         padding-right: 500px;
         padding-top: 150px;
     }
  

}

.hero-link {
    color: $primary-white-color;
    background-color: $accent-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    text-decoration: none;
    border-radius: 4px;
    /* вертикальная геометрия 158пикселя */
    display: inline-block;

   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);



}

button.hero-link {
    border: 4px solid $accent-color;
    cursor: pointer;
    width: 200px;
    height: 50px;
    @media(min-width:1200px){
        margin-left: 90px;
    }

}