/* НАША КОМАНДА */
.our-team {

    height: 708px;
    width: 1600px;
    background-color: $team-bcg-color;
    margin-left: auto;
    margin-right: auto;



}

.team-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 1200px;




    /* outline: 2px solid tomato; */
}

.team-title {
    padding-left: 268px;
    padding-right: 268px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;


}

.item-team {
    width: 270px;

    margin-right: 30px;

}

.item-team:nth-last-child(4n+1) {
    margin-right: 0;
}

.team-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 0;





}

.card {
    width: 270px;
    height: 428px;
    overflow: hidden;
    border: transparent;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;


}


.card-image {
    display: block;

    width: 270px;
    height: 260px;


}

.card-content {

    background: #FFFFFF;
    box-sizing: border-box;
    border: transparent;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 30px;

    width: 270px;
    height: 168px;


}

.team-member {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.team-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;

}

.social-networks {
    display: flex;
    justify-content: center;

}

h4 {
    display: block;
}

.social-networks-item:not(:last-child) {
    margin-right: 10px;
}

.social-networks-item .social-networks-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;

}





.social-networks-link:hover .social-networks-icons {

    fill: white;
    transition: all $time, $animate;

}

.social-networks-link:hover {
    background-color: #2196F3;
    transition: all $time, $animate;

}

.social-networks-icons {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}
