/* осановные утилиты */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body.modal-open{
    overflow: hidden;
}
p{
    margin: 0;
    padding: 0;
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header>.container {
    height: 80px;
}

.container {
    
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 60px;
    @media(min-width: 480px){
        width: 480px;
        padding-bottom: 60px;
    }
    @media(min-width: 768px) {
        width: 768px;
    }
      @media(min-width: 1200px) {
          width: 1200px;
          margin-left: auto;
          margin-right: auto;
          padding-right: 15px;
          padding-left: 15px;
      }
}

/*/ здесь прописываем ховеры и фокусы /*/
.link-portfolio:hover {
    color: $accent-color;
    transition: all $time, $animate;
}

.link-portfolio:focus {
    color: $accent-color;
    transition: all $time, $animate;
}


//section:not(:last-child) {
   //padding-top: 60px;
    //padding-bottom: 94px;
//}

.flex-container {

    
    flex-wrap: wrap;
    display: flex;
    
      @media(min-width: 480px) {
          width: 480px;
      }

      @media(min-width: 768px) {
          width: 768px;
      }

      @media(min-width: 1200px) {
          width: 1200px;
          display: flex;
          flex-wrap: nowrap;
          padding-left: 80px;
      }

}

.header{
        @media(min-width: 480px) {
            width: 480px;
        }

        @media(min-width: 768px) {
            width: 768px;
        }

        @media(min-width: 1200px) {
            width: 1200px;
        }
}
