@mixin portfolio-secondary-text () {
    color: $title-text-color;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

@mixin portfolio-secondary-title () {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

@mixin portfolio-card-text () {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    letter-spacing: 0.03em;

    color: #757575;
}

@mixin font () {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    /* identical to box height, or 200% */
    letter-spacing: $letter-spacing;
    color: $color;

}